# --- Maven / Java ---
target/
*.log
*.jar
*.war
*.ear

# --- Maven Wrapper (se versiona) ---
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# --- IDEs ---
.apt_generated
.classpath
.project
.factorypath
.settings/
.springBeans
.sts4-cache
.idea/
*.iws
*.iml
*.ipr
.vscode/

# --- NetBeans / Gradle ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# --- SO ---
.DS_Store
Thumbs.db

# --- Excepciones por si algún plugin genera targets dentro de src ---
!**/src/main/**/target/
!**/src/test/**/target/

