version: "3.9"
services:
  backend:
    container_name: matricula_app
    build: .
    depends_on:
      - mongo_db
    ports:
      - "8080:8080"

  mongo_db:
    container_name: mongodb
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: